.my-container{
    background-color: rgb(235, 228, 228);

 }
 

.w3-section:focus-within{
	transform:scale(1.05,1.05);
}

.main{
    margin-left: auto;
    margin-right: auto;
	width: 450px;
	height: 600px;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
    background-color: white;
    border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}



 .p{
    text-align:center;
    margin-top: 30px;
    font-size: 15px;
} 

.icon {
	font-size: 90px;
	display: flex;
	justify-content: center;
	color: #060708;
	
	} 
	.eyeicon{
		display: flex;
		margin-top: -30px;
		margin-left: 390px;

	}
	.envelope{
		display: flex;
		margin-top: -30px;
		margin-left: 390px;
	}

	.button-box{
		width: 280px;
		margin:35 auto;
		position:relative;
		box-shadow: 0 0 20px 9px #ff61241f;
		border-radius: 30px;
		margin-left: 70px;
		
	}
	

	.toggle-btn{
		padding: 10px 30px;
		cursor:pointer;
		background: transparent;
		border:0;
		outline:none;
		position:relative;
	}
	#btn{
		top: 0;
		left:0;
		position: absolute;
		width: 110px;
		height: 100%;
		background: linear-gradient(to right,#eadde1,#605e5a);
		border-radius: 30px;
		transition: .5s;
	}
	
	.example-form {

		min-width: 150px;
	  
		max-width: auto;
	  
		width: 100%;
	  
	  }
	  
	   

	  
	  
	   
	  
	 
	  
	   
	  
	  
	  
	   
	  
	  mat-button-toggle-group {
	 
		margin-left: 135px;
		margin-right: 150px;
		border-radius:60px;
	  

	  
	  }
	  
	   
	  
	  .mat-button-toggle-checked{
	  
		background-color:#716c69;
	  
		color:#fff;
	  
	  }
	  
		
	  .choix{
	  
		margin-top: 20px;
	  
	  }
	  
	  mat-icon:hover {

		cursor: pointer;
	
	  }
	
	  .mat-radio-button {
	
	border-radius: 60px;
	
	}