
<!-- </div>
  <table class="table">
      <thead>
        <tr>
         
          <th scope="col">Nom et prénom</th>
          <th scope="col">Adresse</th>
          <th scope="col">E-mail</th>
          <th scope="col">Télèphone</th>
          <th scope="col">Invitation</th>
        </tr>
  
      </thead>
      <tbody>
  
        <tr>
          <td> <span data-toggle="modal" data-target="#exampleModal"> <i class="fa fa-user "></i> </span>&nbsp; Mark</td>
          <td> Otto</td>
          <td>@mdo</td>
          <td>1236</td>
          <td>
            <i class="fa fa-user-plus" (click)="go()"></i>
          </td>
        <tr>
          <td> <span data-toggle="modal" data-target="#exampleModal"> <i class="fa fa-user "></i> </span> &nbsp; Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>1236</td>
          <td> 
            <span click event="pers">
              <i class="fa fa-user-plus" (click)="go()"></i>
          </span>
          </td>
  
        </tr>
  
        <tr>
          <td> <span data-toggle="modal" data-target="#exampleModal"> <i class="fa fa-user "></i> </span>&nbsp; Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>1236</td>
          <td>
            <i class="fa fa-user-plus" (click)="go()"></i>
            
          </td>
        </tr>
  
        <tr>
          <td> <span data-toggle="modal" data-target="#exampleModal"> <i class="fa fa-user "></i> </span> &nbsp; mart</td>
          <td>fdss</td>
          <td>@dev</td>
          <td>1236</td>
          <td>
            <i class="fa fa-user-plus" (click)="go()"></i>
          </td>
        </tr>
  
        <tr>
          <td><span data-toggle="modal" data-target="#exampleModal"> <i class="fa fa-user "></i> </span> &nbsp; marie</td>
          <td>tdee</td>
          <td>@las</td>
          <td>1236</td>
          <i class="fa fa-user-plus" (click)="go()"></i>
        </tr>
  
      </tbody>
    </table>-->
    <app-header></app-header>  

<div class="w3-center w3-padding-64" id="contact">
  <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16" style="font-weight: bold;">Liste des docteurs</span>
</div>
  
<div class="container mt-5 mb-5">
  <div class="d-flex justify-content-between mb-3"></div>
  <div class="row g-2">
      <div class="col-md-3">
          <div class="card p-2 py-3 text-center">
              <div class="img mb-2"> <img src="https://i.imgur.com/LohyFIN.jpg" width="70" class="rounded-circle"> </div>
              <h5 class="mb-0">Patey Cruiser</h5> <small>Adresse</small>
              <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
              <div class="mt-4 apointment"> <button class="btn btn-dark text-uppercase" (click)="go()">Prendre un rendez-vous</button> </div>

    
          </div>
      </div>
      <div class="col-md-3">
          <div class="card p-2 py-3 text-center">
              <div class="img mb-2"> <img src="https://i.imgur.com/o5uMfKo.jpg" width="70" class="rounded-circle"> </div>
              <h5 class="mb-0">Mario Speedway</h5> <small>Adresse</small>
              <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
              <div class="mt-4 apointment"> <button class="btn btn-dark text-uppercase" (click)="go()">Prendre un rendez-vous</button> </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card p-2 py-3 text-center">
              <div class="img mb-2"> <img src="https://i.imgur.com/tmdHXOY.jpg" width="70" class="rounded-circle"> </div>
              <h5 class="mb-0">Anna Sthesia</h5> <small>Adresse</small>
              <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
              <div class="mt-4 apointment"> <button class="btn btn-dark text-uppercase" (click)="go()">Prendre un rendez-vous</button> </div>

             
          </div>
      </div>
      <div class="col-md-3">
          <div class="card p-2 py-3 text-center">
              <div class="img mb-2"> <img src="https://i.imgur.com/C4egmYM.jpg" width="70" class="rounded-circle"> </div>
              <h5 class="mb-0">Paul Moliv</h5> <small>Adresse</small>
              <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
              <div class="mt-4 apointment"> <button class="btn btn-dark text-uppercase" (click)="go()">Prendre un rendez-vous</button> </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card p-2 py-3 text-center">
              <div class="img mb-2"> <img src="https://i.imgur.com/0LKZQYM.jpg" width="70" class="rounded-circle"> </div>
              <h5 class="mb-0">Anna Maul</h5> <small>Adresse</small>
              <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
              <div class="mt-4 apointment"> <button class="btn btn-dark text-uppercase" (click)="go()">Prendre un rendez-vous</button> </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card p-2 py-3 text-center">
              <div class="img mb-2"> <img src="https://i.imgur.com/ZSkeqnd.jpg" width="70" class="rounded-circle"> </div>
              <h5 class="mb-0">Gail Forcewind</h5> <small>Adresse</small>
              <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
              <div class="mt-4 apointment"> <button class="btn btn-dark text-uppercase" (click)="go()">Prendre un rendez-vous</button> </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card p-2 py-3 text-center">
              <div class="img mb-2"> <img src="https://i.imgur.com/MZm1LNz.jpg" width="70" class="rounded-circle"> </div>
              <h5 class="mb-0">Patey Cruiser</h5> <small>Adresse</small>
              <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
              <div class="mt-4 apointment"> <button class="btn btn-dark text-uppercase" (click)="go()">Prendre un rendez-vous</button> </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="card p-2 py-3 text-center">
              <div class="img mb-2"> <img src="https://i.imgur.com/HFpxxJz.jpg" width="70" class="rounded-circle"> </div>
              <h5 class="mb-0">Patey Cruiser</h5> <small>Adresse</small>
              <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
              <div class="mt-4 apointment"> <button class="btn btn-dark text-uppercase" (click)="go()">Prendre un rendez-vous</button> </div>
          </div>
      </div>
  </div>
</div>


<app-footer></app-footer>